In [20]:
import pandas as pd

In [21]:
# path=r'C:\Users\marim\Desktop\summer 2024 projects\internship 2024\Learning pandas\'

In [22]:
# Step 1: Generate the data
data = []
for i in range(1, 11):
    data.append([i,  chr(64 + i)])
data

[[1, 'A'],
 [2, 'B'],
 [3, 'C'],
 [4, 'D'],
 [5, 'E'],
 [6, 'F'],
 [7, 'G'],
 [8, 'H'],
 [9, 'I'],
 [10, 'J']]

In [23]:
# Step 2: Create a DataFrame from the generated data
df = pd.DataFrame(data, columns=['Numbers', 'Letters'])
df.drop(
df

   Numbers Letters
0        1       A
1        2       B
2        3       C
3        4       D
4        5       E
5        6       F
6        7       G
7        8       H
8        9       I
9       10       J

In [25]:
# Step 3: Save the DataFrame to a csv file
df.to_csv('numbers_letters.csv', index=False)

print('It got saved')

It got saved