In [1]:
import pandas as pd

To figure out how to combine everything together, I need to go my old codes and datas to figure out better strategy.

First I looked at the voltage difference between nodes data and voltage on nodes data. This made me realize I need to figure out how to aproach my recursion. To do this I need to go back to my solution. 

To find the connections like RV01 and others, I used voltage difference data but it could also be done by knowing the nodes. However I'm gonna stick with voltage difference data. This data is same as current data cause resistance is 1K everywhere. Im gonna adapt this code then to make it work if there were different resistors.

Okay. Im gonna upload voltage difference data.

Last time I work with H11 data so Im gonna upload that one

In [7]:
path = 'C:\\Users\\marim\\Desktop\\summer 2024 projects\\internship 2024\\data\\'

df = pd.read_csv(path + "BrokenH11.csv") # read from csv FileExistsError

Now I need to make a perimeter data with all voltage differences, with correct directions.

In [8]:
def vol_dif(df):
    df["voltage difference"] = df["voltage1"] - df["voltage2"]
    df = df.drop(columns=['voltage1', 'voltage2'])
    return df

vol_dif -

In [9]:
def perimeter_data(df):
    df = vol_dif(df)
    return df
perimeter_data(df)

   node1 node2  voltage difference
0    N00   N01            2.741082
1    N00   N10            2.899602
2    N01   N02            1.155879
3    N01   N11            1.585203
4    N02   N03            0.726552
5    N02   N12            0.429327
6    N03   N13            0.726552
7    N10   N11            1.426683
8    N10   N20            1.472919
9    N11   N12            0.000002
10   N11   N21            0.792603
11   N12   N13            1.023777
12   N12   N22            1.624833
13   N13   N23            1.750329
14   N20   N21            0.746367
15   N20   N30            0.726552
16   N21   N22            0.832233
17   N21   N31            0.706737
18   N22   N23            1.149273
19   N22   N32            1.307793
20   N23   N33            2.899602
21   N30   N31            0.726552
22   N31   N32            1.433289
23   N32   N33            2.741082

In [ ]:
def