In [1]:
import pandas as pd

In [2]:
path = 'C:\\Users\\marim\\Desktop\\summer 2024 projects\\internship 2024\\data\\'

df= pd.read_csv(path + "perimeter.csv") # read from csv FileExistsError
df

   node1 node2  voltage difference  broken V11  broken H11 letters
0    N00   N01            2.692306    2.899602    2.741082      AB
1    N00   N10            2.692306    2.741082    2.899602      AL
2    N01   N02            1.538461    1.472919    1.155879      BC
3    N02   N03            0.769230    0.726552    0.726552      CD
4    N03   N13            0.769230    0.726552    0.726552      DE
5    N10   N20            1.538461    1.155879    1.472919      KL
6    N13   N23            1.538461    1.433289    1.750329      EF
7    N20   N30            0.769230    0.726552    0.726552      JK
8    N23   N33            2.692306    2.741082    2.899602      FG
9    N30   N31            0.769230    0.726552    0.726552      IJ
10   N31   N32            1.538461    1.750329    1.433289      HI
11   N32   N33            2.692306    2.899602    2.741082      GH

Cleaning data!!!