In [1]:
import pandas as pd

In [7]:
df = pd.read_csv(r"C:\Users\marim\Desktop\summer 2024 projects\internship 2024\Learning pandas\path_to_save_file.csv") # read from csv FileExistsError
df

    Column1 Column2
0         1       A
1         2       B
2         3       C
3         4       D
4         5       E
5         1       A
6         2       B
7         3       C
8         4       D
9         5       E
10        1       A
11        2       B
12        3       C
13        4       D
14        5       E
15        1       C
16        2       D
17        3       E
18        4       F
19        5       G

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  20 non-null     int64
 1   Column2  20 non-null     object
dtypes: int64(1), object(1)
memory usage: 452.0+ bytes

In [9]:
df.shape

(20, 2)

In [10]:
df['Column1']

0     1
1     2
2     3
3     4
4     5
5     1
6     2
7     3
8     4
9     5
10    1
11    2
12    3
13    4
14    5
15    1
16    2
17    3
18    4
19    5
Name: Column1, dtype: int64

In [11]:
df.loc[15]

Column1    1
Column2    C
Name: 15, dtype: object

In [12]:
df.iloc[15]

Column1    1
Column2    C
Name: 15, dtype: object