In [152]:
import pandas as pd

In [153]:
path = 'C:\\Users\\marim\\Desktop\\summer 2024 projects\\internship 2024\\data\\'

df = pd.read_csv(path + "perimeter.csv") # read from csv FileExistsError

In [154]:
df

   node1 node2  voltage difference  broken V11  broken H11 letters
0    N00   N01            2.692306    2.899602    2.741082      AB
1    N01   N02            1.538461    1.472919    1.155879      BC
2    N02   N03            0.769230    0.726552    0.726552      CD
3    N03   N13            0.769230    0.726552    0.726552      DE
4    N13   N23            1.538461    1.433289    1.750329      EF
5    N23   N33            2.692306    2.741082    2.899602      FG
6    N32   N33            2.692306    2.899602    2.741082      GH
7    N31   N32            1.538461    1.750329    1.433289      HI
8    N30   N31            0.769230    0.726552    0.726552      IJ
9    N20   N30            0.769230    0.726552    0.726552      JK
10   N10   N20            1.538461    1.155879    1.472919      KL
11   N10   N00           -2.692306   -2.741082   -2.899602      AL

In [155]:
#AB BC CD DE EF FG GH HI IJ JK KL LA

def swap(idx):
    df.loc[idx,['node2','node1']] = df.loc[idx,['node1','node2']].values
    print(df.loc[idx,['voltage difference','broken V11','broken H11']].values * (-1))
    df.loc[idx,['voltage difference','broken V11','broken H11']] = df.loc[idx,['voltage difference','broken V11','broken H11']].values * (-1)
    return df

swap(11)
df

[2.69230624260433 2.741081583407332 2.899601664255636]

   node1 node2  voltage difference  broken V11  broken H11 letters
0    N00   N01            2.692306    2.899602    2.741082      AB
1    N01   N02            1.538461    1.472919    1.155879      BC
2    N02   N03            0.769230    0.726552    0.726552      CD
3    N03   N13            0.769230    0.726552    0.726552      DE
4    N13   N23            1.538461    1.433289    1.750329      EF
5    N23   N33            2.692306    2.741082    2.899602      FG
6    N32   N33            2.692306    2.899602    2.741082      GH
7    N31   N32            1.538461    1.750329    1.433289      HI
8    N30   N31            0.769230    0.726552    0.726552      IJ
9    N20   N30            0.769230    0.726552    0.726552      JK
10   N10   N20            1.538461    1.155879    1.472919      KL
11   N00   N10            2.692306    2.741082    2.899602      AL

In [156]:
list = df['voltage difference']
list

0     2.692306
1     1.538461
2     0.769230
3     0.769230
4     1.538461
5     2.692306
6     2.692306
7     1.538461
8     0.769230
9     0.769230
10    1.538461
11    2.692306
Name: voltage difference, dtype: float64

In [175]:
def list_inverse(list):
    length = len(list)
    for i in range(int(length/2), length):
        list[i] = list[i] * -1
    print(list)
    return list
list_inverse([1, 2, 3, 4])

[1, 2, -3, -4]

[1, 2, -3, -4]

In [158]:
def list_change(list):
    length = len(list)
    for i in range(length):
        list[i] = list[i] * -1
    print(list)
    return list
list_change([1, 2, 3, 4])

[-1, -2, -3, -4]

[-1, -2, -3, -4]

In [159]:
import math

x = 4.65678

math.ceil(x * 100) / 100

4.66

In [160]:
def list_stuff(list):
    new_list = []
    for i in range(len(list)):
        if i % 3 == 2:
            continue
        new_list.append(list[i] - list[i+1])
    print(*new_list, sep='\n')
    print()
    return new_list

In [161]:

def formating(list):
    new_list = []
    for l in list:
        # l = int(l * 100) / 100
        l = math.ceil(l * 100) / 100
        new_list.append(l)
    print(new_list)

In [162]:
def list_second(list):
    # list.append(list[0])
    list.insert(0, list.pop())
    # print(list)
    new_list = []
    for i in range(len(list)-1):
        # print(list[i], i, list[i+1] + list[i])
        if i % 2 == 1:
            continue
        new_list.append(list[i+1] + list[i])
    print(*new_list, sep='\n')
    print()
    return new_list
# list = [1,2,3,4,5,6,7,8]
# list = list_second(list)
# list

In [163]:
def finding_node_values(list):
    # list.append(list[0])
    list.insert(0, list.pop())
    # print(list)
    new_list = []
    for i in range(len(list)-1):
        # print(list[i], i, list[i+1] + list[i])
        new_list.append(list[i+1] - list[i])
    print(*new_list, sep='\n')
    print()
    return new_list
# list = [1,2,3,4,5,6,7,8]
# list = list_second(list)
# list

In [210]:
COR = df['voltage difference'].tolist()
V11 = df['broken V11'].tolist()
H11 = df['broken H11'].tolist()

In [211]:
COR = list_inverse(COR)
V11 = list_inverse(V11)
H11 = list_inverse(H11)

[2.69230624260433, 1.5384607100596162, 0.7692303550298085, 0.7692303550298085, 1.5384607100596188, 2.692306242604333, -2.692306242604333, -1.5384607100596188, -0.7692303550298085, -0.7692303550298085, -1.5384607100596162, -2.69230624260433]
[2.8996016646445266, 1.4729187140091795, 0.7265518519136878, 0.7265518519136887, 1.4332886936455744, 2.741081583190095, -2.8996016644272906, -1.750328856119962, -0.7265518519136878, -0.7265518519136887, -1.1558785515347916, -2.741081583407332]
[2.741081582975444, 1.1558785513962428, 0.7265518519299325, 0.7265518519299317, 1.7503288563234851, 2.8996016647617164, -2.7410815834815234, -1.4332886937631013, -0.7265518519299325, -0.7265518519299317, -1.472918713956627, -2.899601664255636]

In [212]:
formating(COR)
formating(V11)
formating(H11)

[2.7, 1.54, 0.77, 0.77, 1.54, 2.7, -2.69, -1.53, -0.76, -0.76, -1.53, -2.69]
[2.9, 1.48, 0.73, 0.73, 1.44, 2.75, -2.89, -1.75, -0.72, -0.72, -1.15, -2.74]
[2.75, 1.16, 0.73, 0.73, 1.76, 2.9, -2.74, -1.43, -0.72, -0.72, -1.47, -2.89]

In [213]:
COR_1 = list_stuff(COR)
V11_1 = list_stuff(V11)
H11_1 = list_stuff(H11)

1.1538455325447137
0.7692303550298076
-0.7692303550298103
-1.1538455325447141
-1.1538455325447141
-0.7692303550298103
0.7692303550298076
1.1538455325447137

1.4266829506353471
0.7463668620954917
-0.7067368417318858
-1.3077928895445208
-1.1492728083073287
-1.0237770042062742
0.4293266996211029
1.5852030318725405

1.585203031579201
0.4293266994663103
-1.0237770043935535
-1.1492728084382313
-1.3077928897184221
-0.7067368418331688
0.7463668620266954
1.4266829502990088

In [209]:
COR_1 = list_inverse(COR_1)
V11_1 = list_inverse(V11_1)
H11_1 = list_inverse(H11_1)

[1.1538455325447137, 0.7692303550298076, -0.7692303550298103, -1.1538455325447141, -1.1538455325447141, -0.7692303550298103, 0.7692303550298076, 1.1538455325447137]
[1.4266829506353471, 0.7463668620954917, -0.7067368417318858, -1.3077928895445208, -1.1492728083073287, -1.0237770042062742, 0.4293266996211029, 1.5852030318725405]
[1.585203031579201, 0.4293266994663103, -1.0237770043935535, -1.1492728084382313, -1.3077928897184221, -0.7067368418331688, 0.7463668620266954, 1.4266829502990088]

In [214]:
formating(COR_1)
formating(V11_1)
formating(H11_1)

[1.16, 0.77, -0.76, -1.15, -1.15, -0.76, 0.77, 1.16]
[1.43, 0.75, -0.7, -1.3, -1.14, -1.02, 0.43, 1.59]
[1.59, 0.43, -1.02, -1.14, -1.3, -0.7, 0.75, 1.43]

I'm gonna use Kirchhoff's circuit laws to find next grid values.

In [215]:
H11

[2.741081582975444,
 1.1558785513962428,
 0.7265518519299325,
 0.7265518519299317,
 1.7503288563234851,
 2.8996016647617164,
 -2.7410815834815234,
 -1.4332886937631013,
 -0.7265518519299325,
 -0.7265518519299317,
 -1.472918713956627,
 -2.899601664255636]

In [217]:
H11_1

[1.585203031579201,
 0.4293266994663103,
 -1.0237770043935535,
 -1.1492728084382313,
 -1.3077928897184221,
 -0.7067368418331688,
 0.7463668620266954,
 1.4266829502990088]

In [218]:
for i in range(0, len(H11_1), 2):
    print(i, int(i*3/2)+1)
    print(H11_1[i] * -1 + H11_1[i+1] + H11[int(i*3/2)+1])

0 1
2.219283352200563e-06
2 4
1.6248330522788073
4 7
-0.832232645877848
6 10
-0.7926026256843137

In [146]:
COR = list_second(COR)
V11 = list_second(V11)
H11 = list_second(H11)

2.3076910650894273
-2.6645352591003757e-15
-2.3076910650894282
-2.6645352591003757e-15

3.011885982507888
0.03963002036360597
-2.4570656978518493
-0.5944503045851712

3.0118859818782098
-0.5944503049272432
-2.4570656981566534
0.03963002019352668

In [147]:
formating(COR)
formating(V11)
formating(H11)

[2.31, 0.0, -2.3, 0.0]
[3.02, 0.04, -2.45, -0.59]
[3.02, -0.59, -2.45, 0.04]

AB  BC  CD  DE  EF  FG  GH  HI  IJ  JK  KL  LA
  B1  C2      E2  F4      H4  I3      K3  L1
    H11         V12         H21         V11

In [136]:
COR = finding_node_values(COR)
V11 = finding_node_values(V11)
H11 = finding_node_values(H11)

0.0
-1.1538455325447137
-0.7692303550298076
0.0
0.7692303550298103
1.1538455325447141
0.0
-1.1538455325447141
-0.7692303550298103
0.0
0.7692303550298076

0.15852008123719452
-1.4266829506353471
-0.7463668620954917
8.881784197001252e-16
0.7067368417318858
1.3077928895445208
0.1585200812371954
-1.1492728083073287
-1.0237770042062742
8.881784197001252e-16
0.4293266996211029

-0.15852008128019213
-1.585203031579201
-0.4293266994663103
-8.881784197001252e-16
1.0237770043935535
1.1492728084382313
-0.15852008128019301
-1.3077928897184221
-0.7067368418331688
-8.881784197001252e-16
0.7463668620266954

In [184]:
COR_1 = list_change(COR_1)
V11_1 = list_change(V11_1)
H11_1 = list_change(H11_1)

[-1.1538455325447137, -0.7692303550298076, 0.7692303550298103, 1.1538455325447141, -1.1538455325447141, -0.7692303550298103, 0.7692303550298076, 1.1538455325447137]
[-1.4266829506353471, -0.7463668620954917, 0.7067368417318858, 1.3077928895445208, -1.1492728083073287, -1.0237770042062742, 0.4293266996211029, 1.5852030318725405]
[-1.585203031579201, -0.4293266994663103, 1.0237770043935535, 1.1492728084382313, -1.3077928897184221, -0.7067368418331688, 0.7463668620266954, 1.4266829502990088]