In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
path = 'C:\\Users\\marim\\Desktop\\summer 2024 projects\\internship 2024\\neural network part\\'
# C:\Users\marim\Desktop\summer 2024 projects\internship 2024\neural network part

In [45]:
df = pd.read_csv(path + 'dataset10cr.csv')  ## H01 example

In [46]:
df

    N1X  N1Y  N2X  N2Y   voltage
0     0    0    9    0  4.791768
1     0    0    0    9  4.720786
2     0    1    9    1  2.958603
3     1    0    1    9  3.227689
4     0    2    9    2  3.108751
5     2    0    2    9  2.454553
6     0    3    9    3  2.415130
7     3    0    3    9  2.040237
8     0    4    9    4  2.106260
9     4    0    4    9  1.866191
10    0    5    9    5  2.061472
11    5    0    5    9  1.895553
12    0    6    9    6  2.256630
13    6    0    6    9  2.135039
14    0    7    9    7  2.731723
15    7    0    7    9  2.637375
16    0    8    9    8  3.619785
17    8    0    8    9  3.541391
18    0    9    9    9  5.279210
19    9    0    9    9  5.208229

In [47]:
df_correct = pd.read_csv(path + 'datasetcr.csv')
df_correct

    N1X  N1Y  N2X  N2Y   voltage
0     0    0    9    0  4.999998
1     0    0    0    9  4.999998
2     0    1    9    1  3.413337
3     1    0    1    9  3.413337
4     0    2    9    2  2.557988
5     2    0    2    9  2.557988
6     0    3    9    3  2.090441
7     3    0    3    9  2.090441
8     0    4    9    4  1.880109
9     4    0    4    9  1.880109
10    0    5    9    5  1.880109
11    5    0    5    9  1.880109
12    0    6    9    6  2.090441
13    6    0    6    9  2.090441
14    0    7    9    7  2.557988
15    7    0    7    9  2.557988
16    0    8    9    8  3.413337
17    8    0    8    9  3.413337
18    0    9    9    9  4.999998
19    9    0    9    9  4.999998

In [48]:
df['correct'] = df_correct['voltage']
df

    N1X  N1Y  N2X  N2Y   voltage   correct
0     0    0    9    0  4.791768  4.999998
1     0    0    0    9  4.720786  4.999998
2     0    1    9    1  2.958603  3.413337
3     1    0    1    9  3.227689  3.413337
4     0    2    9    2  3.108751  2.557988
5     2    0    2    9  2.454553  2.557988
6     0    3    9    3  2.415130  2.090441
7     3    0    3    9  2.040237  2.090441
8     0    4    9    4  2.106260  1.880109
9     4    0    4    9  1.866191  1.880109
10    0    5    9    5  2.061472  1.880109
11    5    0    5    9  1.895553  1.880109
12    0    6    9    6  2.256630  2.090441
13    6    0    6    9  2.135039  2.090441
14    0    7    9    7  2.731723  2.557988
15    7    0    7    9  2.637375  2.557988
16    0    8    9    8  3.619785  3.413337
17    8    0    8    9  3.541391  3.413337
18    0    9    9    9  5.279210  4.999998
19    9    0    9    9  5.208229  4.999998

In [49]:
df['difference'] = df['voltage'] - df['correct']
df

    N1X  N1Y  N2X  N2Y   voltage   correct  difference
0     0    0    9    0  4.791768  4.999998   -0.208231
1     0    0    0    9  4.720786  4.999998   -0.279212
2     0    1    9    1  2.958603  3.413337   -0.454734
3     1    0    1    9  3.227689  3.413337   -0.185648
4     0    2    9    2  3.108751  2.557988    0.550763
5     2    0    2    9  2.454553  2.557988   -0.103435
6     0    3    9    3  2.415130  2.090441    0.324689
7     3    0    3    9  2.040237  2.090441   -0.050204
8     0    4    9    4  2.106260  1.880109    0.226151
9     4    0    4    9  1.866191  1.880109   -0.013918
10    0    5    9    5  2.061472  1.880109    0.181363
11    5    0    5    9  1.895553  1.880109    0.015444
12    0    6    9    6  2.256630  2.090441    0.166189
13    6    0    6    9  2.135039  2.090441    0.044598
14    0    7    9    7  2.731723  2.557988    0.173735
15    7    0    7    9  2.637375  2.557988    0.079387
16    0    8    9    8  3.619785  3.413337    0.206448
17    8    0    8    9  3.541391  3.413337    0.128054
18    0    9    9    9  5.279210  4.999998    0.279212
19    9    0    9    9  5.208229  4.999998    0.208230

In [50]:
df = df.sort_values(by=['correct'])
df

    N1X  N1Y  N2X  N2Y   voltage   correct  difference
8     0    4    9    4  2.106260  1.880109    0.226151
9     4    0    4    9  1.866191  1.880109   -0.013918
10    0    5    9    5  2.061472  1.880109    0.181363
11    5    0    5    9  1.895553  1.880109    0.015444
6     0    3    9    3  2.415130  2.090441    0.324689
7     3    0    3    9  2.040237  2.090441   -0.050204
12    0    6    9    6  2.256630  2.090441    0.166189
13    6    0    6    9  2.135039  2.090441    0.044598
4     0    2    9    2  3.108751  2.557988    0.550763
5     2    0    2    9  2.454553  2.557988   -0.103435
14    0    7    9    7  2.731723  2.557988    0.173735
15    7    0    7    9  2.637375  2.557988    0.079387
2     0    1    9    1  2.958603  3.413337   -0.454734
3     1    0    1    9  3.227689  3.413337   -0.185648
16    0    8    9    8  3.619785  3.413337    0.206448
17    8    0    8    9  3.541391  3.413337    0.128054
0     0    0    9    0  4.791768  4.999998   -0.208231
1     0    0    0    9  4.720786  4.999998   -0.279212
18    0    9    9    9  5.279210  4.999998    0.279212
19    9    0    9    9  5.208229  4.999998    0.208230

In [51]:
df = df.sort_values(by=['difference'])
df

    N1X  N1Y  N2X  N2Y   voltage   correct  difference
2     0    1    9    1  2.958603  3.413337   -0.454734
1     0    0    0    9  4.720786  4.999998   -0.279212
0     0    0    9    0  4.791768  4.999998   -0.208231
3     1    0    1    9  3.227689  3.413337   -0.185648
5     2    0    2    9  2.454553  2.557988   -0.103435
7     3    0    3    9  2.040237  2.090441   -0.050204
9     4    0    4    9  1.866191  1.880109   -0.013918
11    5    0    5    9  1.895553  1.880109    0.015444
13    6    0    6    9  2.135039  2.090441    0.044598
15    7    0    7    9  2.637375  2.557988    0.079387
17    8    0    8    9  3.541391  3.413337    0.128054
12    0    6    9    6  2.256630  2.090441    0.166189
14    0    7    9    7  2.731723  2.557988    0.173735
10    0    5    9    5  2.061472  1.880109    0.181363
16    0    8    9    8  3.619785  3.413337    0.206448
19    9    0    9    9  5.208229  4.999998    0.208230
8     0    4    9    4  2.106260  1.880109    0.226151
18    0    9    9    9  5.279210  4.999998    0.279212
6     0    3    9    3  2.415130  2.090441    0.324689
4     0    2    9    2  3.108751  2.557988    0.550763