In [4]:
import pandas as pd

In [25]:
path = 'C:\\Users\\marim\\Desktop\\summer 2024 projects\\internship 2024\\data\\datasets\\'

In [123]:
def new_df(br):
    df = pd.DataFrame()
    df = pd.read_csv(path+'Broken_VDLoc'+br+'.csv')
    print(df)
    num_pairs = len(df) # for this instance it will be 12
    new_df = []
    for i in range(num_pairs):
        new_df.append(df['location'].iloc[i] * df['voltage'].iloc[i])
        # print(new_df)
    new_df = pd.DataFrame(new_df)
    new_df = new_df.transpose()
    return new_df

In [124]:
df1 = new_df('V01')
df1

    location   voltage
0       1.00  3.242556
1       2.00 -2.387586
2       1.01  1.114630
3       1.02  0.661811
4       2.03  0.661811
5       2.10 -1.532615
6       2.13  1.532615
7       2.20 -0.794806
8       2.23  2.786572
9       1.30 -0.794806
10      1.31 -1.646611
11      1.32 -2.843570

,0,1,2,3,4,5,6,7,8,9,10,11
0,3.242556,-4.775173,1.125776,0.675047,1.343477,-3.218491,3.264469,-1.748574,6.214056,-1.033248,-2.15706,-3.753512

In [125]:
for i in br:
    df_new = new_df(i)
    print(df_new)
    df1 = pd.concat([df1, df_new], axis=0, ignore_index=True)

df1

    location   voltage
0       1.00  3.242556
1       2.00 -2.387586
2       1.01  1.114630
3       1.02  0.661811
4       2.03  0.661811
5       2.10 -1.532615
6       2.13  1.532615
7       2.20 -0.794806
8       2.23  2.786572
9       1.30 -0.794806
10      1.31 -1.646611
11      1.32 -2.843570
         0         1         2         3         4         5         6   \
0  3.242556 -4.775173  1.125776  0.675047  1.343477 -3.218491  3.264469

         7         8         9        10        11
0 -1.748574  6.214056 -1.033248 -2.15706 -3.753512
    location   voltage
0       1.00  2.838170
1       2.00 -2.652871
2       1.01  1.890054
3       1.02  0.506486
4       2.03  0.506486
5       2.10 -1.519456
6       2.13  1.519456
7       2.20 -0.765904
8       2.23  2.739344
9       1.30 -0.765904
10      1.31 -1.544162
11      1.32 -2.751697
        0         1         2         3         4         5         6   \
0  2.83817 -5.305742  1.908954  0.516615  1.028166 -3.190857  3.236441

        7         8         9         10       11
0 -1.68499  6.108736 -0.995676 -2.022852 -3.63224
    location   voltage
0       1.00  2.387586
1       2.00 -3.242556
2       1.01  1.532615
3       1.02  0.794806
4       2.03  0.794806
5       2.10 -1.114630
6       2.13  1.646611
7       2.20 -0.661811
8       2.23  2.843570
9       1.30 -0.661811
10      1.31 -1.532615
11      1.32 -2.786572
         0         1         2         3         4         5         6   \
0  2.387586 -6.485111  1.547941  0.810702  1.613457 -2.340722  3.507281

         7         8         9         10        11
0 -1.455984  6.341161 -0.860354 -2.007725 -3.678275
    location   voltage
0       1.00  2.741082
1       2.00 -2.899602
2       1.01  1.155879
3       1.02  0.726552
4       2.03  0.726552
5       2.10 -1.472919
6       2.13  1.750329
7       2.20 -0.726552
8       2.23  2.899602
9       1.30 -0.726552
10      1.31 -1.433289
11      1.32 -2.741082
         0         1         2         3       4         5       6         7   \
0  2.741082 -5.799203  1.167437  0.741083  1.4749 -3.093129  3.7282 -1.598414

         8         9         10        11
0  6.466112 -0.944517 -1.877608 -3.618228
    location   voltage
0       1.00  2.899602
1       2.00 -2.741082
2       1.01  1.472919
3       1.02  0.726552
4       2.03  0.726552
5       2.10 -1.155879
6       2.13  1.433289
7       2.20 -0.726552
8       2.23  2.741082
9       1.30 -0.726552
10      1.31 -1.750329
11      1.32 -2.899602
         0         1         2         3       4         5         6   \
0  2.899602 -5.482163  1.487648  0.741083  1.4749 -2.427345  3.052905

         7         8         9         10        11
0 -1.598414  6.112612 -0.944517 -2.292931 -3.827474
    location   voltage
0       1.00  2.739344
1       2.00 -2.751697
2       1.01  1.519456
3       1.02  0.506486
4       2.03  0.506486
5       2.10 -1.544162
6       2.13  1.890054
7       2.20 -0.765904
8       2.23  2.838170
9       1.30 -0.765904
10      1.31 -1.519456
11      1.32 -2.652871
         0         1        2         3         4         5         6   \
0  2.739344 -5.503394  1.53465  0.516615  1.028166 -3.242741  4.025815

        7         8         9         10        11
0 -1.68499  6.329119 -0.995676 -1.990487 -3.501789
    location   voltage
0       1.00  2.899602
1       2.00 -2.741082
2       1.01  1.750329
3       1.02  0.726552
4       2.03  0.726552
5       2.10 -1.433289
6       2.13  1.155879
7       2.20 -0.726552
8       2.23  2.741082
9       1.30 -0.726552
10      1.31 -1.472919
11      1.32 -2.899602
         0         1         2         3       4         5         6   \
0  2.899602 -5.482163  1.767832  0.741083  1.4749 -3.009906  2.462021

         7         8         9         10        11
0 -1.598414  6.112612 -0.944517 -1.929524 -3.827474
    location   voltage
0       1.00  2.652871
1       2.00 -2.838170
2       1.01  1.519456
3       1.02  0.765904
4       2.03  0.765904
5       2.10 -1.890054
6       2.13  1.544162
7       2.20 -0.506486
8       2.23  2.751697
9       1.30 -0.506486
10      1.31 -1.519456
11      1.32 -2.739344
         0        1        2         3         4         5         6   \
0  2.652871 -5.67634  1.53465  0.781223  1.554786 -3.969113  3.289065

         7         8         9         10        11
0 -1.114268  6.136284 -0.658431 -1.990487 -3.615934
    location   voltage
0       1.00  2.741082
1       2.00 -2.899602
2       1.01  1.433289
3       1.02  0.726552
4       2.03  0.726552
5       2.10 -1.750329
6       2.13  1.472919
7       2.20 -0.726552
8       2.23  2.899602
9       1.30 -0.726552
10      1.31 -1.155879
11      1.32 -2.741082
         0         1         2         3       4         5         6   \
0  2.741082 -5.799203  1.447622  0.741083  1.4749 -3.675691  3.137317

         7         8         9         10        11
0 -1.598414  6.466112 -0.944517 -1.514201 -3.618228
    location   voltage
0       1.00  2.751697
1       2.00 -2.739344
2       1.01  1.544162
3       1.02  0.765904
4       2.03  0.765904
5       2.10 -1.519456
6       2.13  1.519456
7       2.20 -0.506486
8       2.23  2.652871
9       1.30 -0.506486
10      1.31 -1.890054
11      1.32 -2.838170
         0         1         2         3         4         5         6   \
0  2.751697 -5.478687  1.559604  0.781223  1.554786 -3.190857  3.236441

         7         8         9         10        11
0 -1.114268  5.915902 -0.658431 -2.475971 -3.746384
    location   voltage
0       1.00  2.786572
1       2.00 -2.843570
2       1.01  1.532615
3       1.02  0.661811
4       2.03  0.661811
5       2.10 -1.646611
6       2.13  1.114630
7       2.20 -0.794806
8       2.23  3.242556
9       1.30 -0.794806
10      1.31 -1.532615
11      1.32 -2.387586
         0        1         2         3         4         5         6   \
0  2.786572 -5.68714  1.547941  0.675047  1.343477 -3.457882  2.374161

         7         8         9         10        11
0 -1.748574  7.230899 -1.033248 -2.007725 -3.151614
    location   voltage
0       1.00  2.843570
1       2.00 -2.786572
2       1.01  1.646611
3       1.02  0.794806
4       2.03  0.794806
5       2.10 -1.532615
6       2.13  1.532615
7       2.20 -0.661811
8       2.23  2.387586
9       1.30 -0.661811
10      1.31 -1.114630
11      1.32 -3.242556
        0         1         2         3         4         5         6   \
0  2.84357 -5.573144  1.663077  0.810702  1.613457 -3.218491  3.264469

         7         8         9         10        11
0 -1.455984  5.324317 -0.860354 -1.460165 -4.280174

,0,1,2,3,4,5,6,7,8,9,10,11
0,3.242556,-4.775173,1.125776,0.675047,1.343477,-3.218491,3.264469,-1.748574,6.214056,-1.033248,-2.157060,-3.753512
1,3.242556,-4.775173,1.125776,0.675047,1.343477,-3.218491,3.264469,-1.748574,6.214056,-1.033248,-2.157060,-3.753512
2,2.838170,-5.305742,1.908954,0.516615,1.028166,-3.190857,3.236441,-1.684990,6.108736,-0.995676,-2.022852,-3.632240
3,2.387586,-6.485111,1.547941,0.810702,1.613457,-2.340722,3.507281,-1.455984,6.341161,-0.860354,-2.007725,-3.678275
4,2.741082,-5.799203,1.167437,0.741083,1.474900,-3.093129,3.728200,-1.598414,6.466112,-0.944517,-1.877608,-3.618228
5,2.899602,-5.482163,1.487648,0.741083,1.474900,-2.427345,3.052905,-1.598414,6.112612,-0.944517,-2.292931,-3.827474
6,2.739344,-5.503394,1.534650,0.516615,1.028166,-3.242741,4.025815,-1.684990,6.329119,-0.995676,-1.990487,-3.501789
7,2.899602,-5.482163,1.767832,0.741083,1.474900,-3.009906,2.462021,-1.598414,6.112612,-0.944517,-1.929524,-3.827474
8,2.652871,-5.676340,1.534650,0.781223,1.554786,-3.969113,3.289065,-1.114268,6.136284,-0.658431,-1.990487,-3.615934
9,2.741082,-5.799203,1.447622,0.741083,1.474900,-3.675691,3.137317,-1.598414,6.466112,-0.944517,-1.514201,-3.618228
10,2.751697,-5.478687,1.559604,0.781223,1.554786,-3.190857,3.236441,-1.114268,5.915902,-0.658431,-2.475971,-3.746384
11,2.786572,-5.687140,1.547941,0.675047,1.343477,-3.457882,2.374161,-1.748574,7.230899,-1.033248,-2.007725,-3.151614
12,2.843570,-5.573144,1.663077,0.810702,1.613457,-3.218491,3.264469,-1.455984,5.324317,-0.860354,-1.460165,-4.280174

In [52]:
def reshape_df(br):
    df = pd.DataFrame()
    df = pd.read_csv(path+'Broken_VDLoc'+br+'.csv')
    # print(df)
    num_pairs = len(df) # for this instance it will be 12
    reshaped_data = df.values.reshape(-1, num_pairs * 2) #3
    # print(reshaped_data)
    reshaped_df = pd.DataFrame(reshaped_data, columns=column_names)
    return reshaped_df

In [72]:
df = reshape_df('')

In [49]:
# df = pd.read_csv(path + 'Broken_VDLoc.csv')
# # df = df.rename(columns={"Unnamed: 1": "correct"})

# df

    location   voltage
0        100  2.692306
1        200  2.692306
2        101  1.538461
3        102  0.769230
4        203  0.769230
5        210  1.538461
6        213  1.538461
7        220  0.769230
8        223  2.692306
9        130  0.769230
10       131  1.538461
11       132  2.692306

In [73]:
for i in br:
    # print(i)
    # df_new = pd.read_csv(path + 'Broken'+ i + '.csv') # read from csv FileExistsError
    df_new = reshape_df(i)
    print(df_new)
    # df = pd.merge(df, df_new, on="nodes")
    df = pd.concat([df, df_new], axis=0, ignore_index=True)

df

   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0   3.242556    2.0   2.387586   1.01    1.11463   1.02   0.661811

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.661811  ...    2.2   0.794806   2.23   2.786572     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.794806    1.31    1.646611    1.32     2.84357

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0    2.83817    2.0   2.652871   1.01   1.890054   1.02   0.506486

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.506486  ...    2.2   0.765904   2.23   2.739344     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.765904    1.31    1.544162    1.32    2.751697

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0   2.387586    2.0   3.242556   1.01   1.532615   1.02   0.794806

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.794806  ...    2.2   0.661811   2.23    2.84357     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.661811    1.31    1.532615    1.32    2.786572

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0   2.741082    2.0   2.899602   1.01   1.155879   1.02   0.726552

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.726552  ...    2.2   0.726552   2.23   2.899602     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.726552    1.31    1.433289    1.32    2.741082

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0   2.899602    2.0   2.741082   1.01   1.472919   1.02   0.726552

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.726552  ...    2.2   0.726552   2.23   2.741082     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.726552    1.31    1.750329    1.32    2.899602

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0   2.739344    2.0   2.751697   1.01   1.519456   1.02   0.506486

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.506486  ...    2.2   0.765904   2.23    2.83817     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.765904    1.31    1.519456    1.32    2.652871

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0   2.899602    2.0   2.741082   1.01   1.750329   1.02   0.726552

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.726552  ...    2.2   0.726552   2.23   2.741082     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.726552    1.31    1.472919    1.32    2.899602

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0   2.652871    2.0    2.83817   1.01   1.519456   1.02   0.765904

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.765904  ...    2.2   0.506486   2.23   2.751697     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.506486    1.31    1.519456    1.32    2.739344

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0   2.741082    2.0   2.899602   1.01   1.433289   1.02   0.726552

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.726552  ...    2.2   0.726552   2.23   2.899602     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.726552    1.31    1.155879    1.32    2.741082

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0   2.751697    2.0   2.739344   1.01   1.544162   1.02   0.765904

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.765904  ...    2.2   0.506486   2.23   2.652871     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.506486    1.31    1.890054    1.32     2.83817

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0   2.786572    2.0    2.84357   1.01   1.532615   1.02   0.661811

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.661811  ...    2.2   0.794806   2.23   3.242556     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.794806    1.31    1.532615    1.32    2.387586

[1 rows x 24 columns]
   Loc_1  voltage_1  Loc_2  voltage_2  Loc_3  voltage_3  Loc_4  voltage_4  \
0    1.0    2.84357    2.0   2.786572   1.01   1.646611   1.02   0.794806

   Loc_5  voltage_5  ...  Loc_8  voltage_8  Loc_9  voltage_9  Loc_10  \
0   2.03   0.794806  ...    2.2   0.661811   2.23   2.387586     1.3

   voltage_10  Loc_11  voltage_11  Loc_12  voltage_12
0    0.661811    1.31     1.11463    1.32    3.242556

[1 rows x 24 columns]

,Loc_1,voltage_1,Loc_2,voltage_2,Loc_3,voltage_3,Loc_4,voltage_4,Loc_5,voltage_5,...,Loc_8,voltage_8,Loc_9,voltage_9,Loc_10,voltage_10,Loc_11,voltage_11,Loc_12,voltage_12
0,100.0,2.692306,200.0,2.692306,101.00,1.538461,102.00,0.769230,203.00,0.769230,...,220.0,0.769230,223.00,2.692306,130.0,0.769230,131.00,1.538461,132.00,2.692306
1,1.0,3.242556,2.0,2.387586,1.01,1.114630,1.02,0.661811,2.03,0.661811,...,2.2,0.794806,2.23,2.786572,1.3,0.794806,1.31,1.646611,1.32,2.843570
2,1.0,2.838170,2.0,2.652871,1.01,1.890054,1.02,0.506486,2.03,0.506486,...,2.2,0.765904,2.23,2.739344,1.3,0.765904,1.31,1.544162,1.32,2.751697
3,1.0,2.387586,2.0,3.242556,1.01,1.532615,1.02,0.794806,2.03,0.794806,...,2.2,0.661811,2.23,2.843570,1.3,0.661811,1.31,1.532615,1.32,2.786572
4,1.0,2.741082,2.0,2.899602,1.01,1.155879,1.02,0.726552,2.03,0.726552,...,2.2,0.726552,2.23,2.899602,1.3,0.726552,1.31,1.433289,1.32,2.741082
5,1.0,2.899602,2.0,2.741082,1.01,1.472919,1.02,0.726552,2.03,0.726552,...,2.2,0.726552,2.23,2.741082,1.3,0.726552,1.31,1.750329,1.32,2.899602
6,1.0,2.739344,2.0,2.751697,1.01,1.519456,1.02,0.506486,2.03,0.506486,...,2.2,0.765904,2.23,2.838170,1.3,0.765904,1.31,1.519456,1.32,2.652871
7,1.0,2.899602,2.0,2.741082,1.01,1.750329,1.02,0.726552,2.03,0.726552,...,2.2,0.726552,2.23,2.741082,1.3,0.726552,1.31,1.472919,1.32,2.899602
8,1.0,2.652871,2.0,2.838170,1.01,1.519456,1.02,0.765904,2.03,0.765904,...,2.2,0.506486,2.23,2.751697,1.3,0.506486,1.31,1.519456,1.32,2.739344
9,1.0,2.741082,2.0,2.899602,1.01,1.433289,1.02,0.726552,2.03,0.726552,...,2.2,0.726552,2.23,2.899602,1.3,0.726552,1.31,1.155879,1.32,2.741082
10,1.0,2.751697,2.0,2.739344,1.01,1.544162,1.02,0.765904,2.03,0.765904,...,2.2,0.506486,2.23,2.652871,1.3,0.506486,1.31,1.890054,1.32,2.838170
11,1.0,2.786572,2.0,2.843570,1.01,1.532615,1.02,0.661811,2.03,0.661811,...,2.2,0.794806,2.23,3.242556,1.3,0.794806,1.31,1.532615,1.32,2.387586
12,1.0,2.843570,2.0,2.786572,1.01,1.646611,1.02,0.794806,2.03,0.794806,...,2.2,0.661811,2.23,2.387586,1.3,0.661811,1.31,1.114630,1.32,3.242556

In [26]:
broken = 'V01'
df = pd.read_csv(path+'Broken_VDLoc'+broken+'.csv')
df

    location   voltage
0        100  3.242556
1        200  2.387586
2        101  1.114630
3        102  0.661811
4        203  0.661811
5        210  1.532615
6        213  1.532615
7        220  0.794806
8        223  2.786572
9        130  0.794806
10       131  1.646611
11       132  2.843570

In [40]:
num_pairs = len(df)

print(num_pairs)

12

In [28]:
reshaped_data = df.values.reshape(-1, num_pairs * 2) #3
print(reshaped_data)

[[100.           3.24255574 200.           2.3875863  101.
    1.11462967 102.           0.6618111  203.           0.6618111
  210.           1.53261473 213.           1.53261473 220.
    0.79480635 223.           2.78657204 130.           0.79480635
  131.           1.64661065 132.           2.84357   ]]

In [42]:
column_names = []
for i in range(num_pairs):
    # column_names.append(f'VD_{i+1}')
    column_names.append(f'Loc_{i+1}')
    column_names.append(f'voltage_{i+1}')

column_names

['Loc_1',
 'voltage_1',
 'Loc_2',
 'voltage_2',
 'Loc_3',
 'voltage_3',
 'Loc_4',
 'voltage_4',
 'Loc_5',
 'voltage_5',
 'Loc_6',
 'voltage_6',
 'Loc_7',
 'voltage_7',
 'Loc_8',
 'voltage_8',
 'Loc_9',
 'voltage_9',
 'Loc_10',
 'voltage_10',
 'Loc_11',
 'voltage_11',
 'Loc_12',
 'voltage_12']

In [31]:
reshaped_df = pd.DataFrame(reshaped_data, columns=column_names)

reshaped_df

,Loc_1,voltage_1,Loc_2,voltage_2,Loc_3,voltage_3,Loc_4,voltage_4,Loc_5,voltage_5,...,Loc_8,voltage_8,Loc_9,voltage_9,Loc_10,voltage_10,Loc_11,voltage_11,Loc_12,voltage_12
0,100.0,3.242556,200.0,2.387586,101.0,1.11463,102.0,0.661811,203.0,0.661811,...,220.0,0.794806,223.0,2.786572,130.0,0.794806,131.0,1.646611,132.0,2.84357

In [66]:
broken = pd.read_csv(path+'Broken_dataset.csv')
broken

   resistor  location
0       V01      2.01
1       V02      2.02
2       H10      1.10
3       H11      1.11
4       V11      2.11
5       H12      1.12
6       V12      2.12
7       H20      1.20
8       H21      1.21
9       V21      2.21
10      H22      1.22
11      V22      2.22

In [70]:
# br = ['V01', 'V02', 'H10', 'H11', 'H12', 'V11', 'V12', 'H20', 'H21', 'H22', 'V21', 'V22'] 
br = broken['resistor']
# br = ['101', '102', '210', '211', '212', '111', '112', '220', '221', '222', '121', '122'] 
br

0     V01
1     V02
2     H10
3     H11
4     V11
5     H12
6     V12
7     H20
8     H21
9     V21
10    H22
11    V22
Name: resistor, dtype: object

In [126]:
df

,Loc_1,voltage_1,Loc_2,voltage_2,Loc_3,voltage_3,Loc_4,voltage_4,Loc_5,voltage_5,...,voltage_8,Loc_9,voltage_9,Loc_10,voltage_10,Loc_11,voltage_11,Loc_12,voltage_12,0
0,100.0,2.692306,200.0,2.692306,101.00,1.538461,102.00,0.769230,203.00,0.769230,...,0.769230,223.00,2.692306,130.0,0.769230,131.00,1.538461,132.00,2.692306,NaN
1,1.0,3.242556,2.0,2.387586,1.01,1.114630,1.02,0.661811,2.03,0.661811,...,0.794806,2.23,2.786572,1.3,0.794806,1.31,1.646611,1.32,2.843570,NaN
2,1.0,2.838170,2.0,2.652871,1.01,1.890054,1.02,0.506486,2.03,0.506486,...,0.765904,2.23,2.739344,1.3,0.765904,1.31,1.544162,1.32,2.751697,NaN
3,1.0,2.387586,2.0,3.242556,1.01,1.532615,1.02,0.794806,2.03,0.794806,...,0.661811,2.23,2.843570,1.3,0.661811,1.31,1.532615,1.32,2.786572,NaN
4,1.0,2.741082,2.0,2.899602,1.01,1.155879,1.02,0.726552,2.03,0.726552,...,0.726552,2.23,2.899602,1.3,0.726552,1.31,1.433289,1.32,2.741082,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.455984
153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.324317
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.860354
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.460165
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.280174

In [75]:
df.to_csv(path+'VDLoc.csv', index=False)

In [128]:
df1.to_csv(path+'VDLoc1.csv', index=False)

In [127]:
df1

,0,1,2,3,4,5,6,7,8,9,10,11
0,3.242556,-4.775173,1.125776,0.675047,1.343477,-3.218491,3.264469,-1.748574,6.214056,-1.033248,-2.157060,-3.753512
1,3.242556,-4.775173,1.125776,0.675047,1.343477,-3.218491,3.264469,-1.748574,6.214056,-1.033248,-2.157060,-3.753512
2,2.838170,-5.305742,1.908954,0.516615,1.028166,-3.190857,3.236441,-1.684990,6.108736,-0.995676,-2.022852,-3.632240
3,2.387586,-6.485111,1.547941,0.810702,1.613457,-2.340722,3.507281,-1.455984,6.341161,-0.860354,-2.007725,-3.678275
4,2.741082,-5.799203,1.167437,0.741083,1.474900,-3.093129,3.728200,-1.598414,6.466112,-0.944517,-1.877608,-3.618228
5,2.899602,-5.482163,1.487648,0.741083,1.474900,-2.427345,3.052905,-1.598414,6.112612,-0.944517,-2.292931,-3.827474
6,2.739344,-5.503394,1.534650,0.516615,1.028166,-3.242741,4.025815,-1.684990,6.329119,-0.995676,-1.990487,-3.501789
7,2.899602,-5.482163,1.767832,0.741083,1.474900,-3.009906,2.462021,-1.598414,6.112612,-0.944517,-1.929524,-3.827474
8,2.652871,-5.676340,1.534650,0.781223,1.554786,-3.969113,3.289065,-1.114268,6.136284,-0.658431,-1.990487,-3.615934
9,2.741082,-5.799203,1.447622,0.741083,1.474900,-3.675691,3.137317,-1.598414,6.466112,-0.944517,-1.514201,-3.618228
10,2.751697,-5.478687,1.559604,0.781223,1.554786,-3.190857,3.236441,-1.114268,5.915902,-0.658431,-2.475971,-3.746384
11,2.786572,-5.687140,1.547941,0.675047,1.343477,-3.457882,2.374161,-1.748574,7.230899,-1.033248,-2.007725,-3.151614
12,2.843570,-5.573144,1.663077,0.810702,1.613457,-3.218491,3.264469,-1.455984,5.324317,-0.860354,-1.460165,-4.280174