In [1]:
import pandas as pd

To figure out how to combine everything together, I need to go my old codes and datas to figure out better strategy.

First I looked at the voltage difference between nodes data and voltage on nodes data. This made me realize I need to figure out how to aproach my recursion. To do this I need to go back to my solution. 

To find the connections like RV01 and others, I used voltage difference data but it could also be done by knowing the nodes. However I'm gonna stick with voltage difference data. This data is same as current data cause resistance is 1K everywhere. Im gonna adapt this code then to make it work if there were different resistors.

Okay. Im gonna upload voltage difference data.

Last time I work with H11 data so Im gonna upload that one

Now I need to make a perimeter data with all voltage differences, with correct directions.
To make this I created new file called "making perimeter"

In [2]:
path = 'C:\\Users\\marim\\Desktop\\summer 2024 projects\\internship 2024\\data\\'

df = pd.read_csv(path + "BrokenV11_perimeter.csv") # read from csv FileExistsError

In [3]:
df

   node1 node2   voltage letters
0    N00   N01  2.899602      AB
1    N01   N02  1.472919      BC
2    N02   N03  0.726552      CD
3    N03   N13  0.726552      DE
4    N13   N23  1.433289      EF
5    N23   N33  2.741082      FG
6    N33   N32 -2.899602      GH
7    N32   N31 -1.750329      HI
8    N31   N30 -0.726552      IJ
9    N30   N20 -0.726552      JK
10   N20   N10 -1.155879      KL
11   N10   N00 -2.741082      LA

In [4]:
old_per = df['voltage'].tolist()
old_per

[2.8996016646445266,
 1.4729187140091795,
 0.7265518519136878,
 0.7265518519136887,
 1.4332886936455744,
 2.741081583190095,
 -2.8996016644272906,
 -1.750328856119962,
 -0.7265518519136878,
 -0.7265518519136887,
 -1.1558785515347916,
 -2.741081583407332]

In [5]:
def connections(list):
    new_list = []
    for i in range(len(list)):
        if i % 3 == 2:
            continue
        new_list.append(list[i] - list[i+1])
    print(*new_list, sep='\n')
    print()
    return new_list

In [6]:
con = connections(old_per)

1.4266829506353471
0.7463668620954917
-0.7067368417318858
-1.3077928895445208
-1.1492728083073287
-1.0237770042062742
0.4293266996211029
1.5852030318725405

In [7]:
# for i in range(0, len(d_1), 2):
#     # print(i, int(i*3/2)+1)
#     print(d_1[i] * -1 + d_1[i+1] + d[int(i*3/2)+1])
#     new_data =

In [8]:
def new_perimeter(d, d_1):
    data = []
    for i in range(0, len(d_1), 2):
        print(i, int(i*3/2)+1)
        print(d_1[i] * -1 + d_1[i+1] + d[int(i*3/2)+1])
        data.append(d_1[i] * -1 + d_1[i+1] + d[int(i*3/2)+1])
    return data

new_per = new_perimeter(old_per, con)

0 1
0.7926026254693241
2 4
0.8322326458329394
4 7
-1.6248330520189074
6 10
-2.2192833539769197e-06

In [9]:
new_per

[0.7926026254693241,
 0.8322326458329394,
 -1.6248330520189074,
 -2.2192833539769197e-06]

In [12]:
def checker(per):
    for i in range(len(per)):
        if abs(per[i]) < 0.00001:
            print(i)

checker(new_per)

3