In [35]:
import pandas as pd

In [36]:
path = 'C:\\Users\\marim\\Desktop\\summer 2024 projects\\internship 2024\\data\\'

df = pd.read_csv(path + "perimeter.csv") # read from csv FileExistsError

In [37]:
df

   node1 node2  voltage difference  broken V11  broken H11 letters
0    N00   N01            2.692306    2.899602    2.741082      AB
1    N01   N02            1.538461    1.472919    1.155879      BC
2    N02   N03            0.769230    0.726552    0.726552      CD
3    N03   N13            0.769230    0.726552    0.726552      DE
4    N13   N23            1.538461    1.433289    1.750329      EF
5    N23   N33            2.692306    2.741082    2.899602      FG
6    N32   N33            2.692306    2.899602    2.741082      GH
7    N31   N32            1.538461    1.750329    1.433289      HI
8    N30   N31            0.769230    0.726552    0.726552      IJ
9    N20   N30            0.769230    0.726552    0.726552      JK
10   N10   N20            1.538461    1.155879    1.472919      KL
11   N10   N00           -2.692306   -2.741082   -2.899602      AL

In [38]:
#AB BC CD DE EF FG GH HI IJ JK KL LA

def swap(idx):
    df.loc[idx,['node2','node1']] = df.loc[idx,['node1','node2']].values
    print(df.loc[idx,['voltage difference','broken V11','broken H11']].values * (-1))
    df.loc[idx,['voltage difference','broken V11','broken H11']] = df.loc[idx,['voltage difference','broken V11','broken H11']].values * (-1)
    return df

swap(11)
df

[2.69230624260433 2.741081583407332 2.899601664255636]

   node1 node2  voltage difference  broken V11  broken H11 letters
0    N00   N01            2.692306    2.899602    2.741082      AB
1    N01   N02            1.538461    1.472919    1.155879      BC
2    N02   N03            0.769230    0.726552    0.726552      CD
3    N03   N13            0.769230    0.726552    0.726552      DE
4    N13   N23            1.538461    1.433289    1.750329      EF
5    N23   N33            2.692306    2.741082    2.899602      FG
6    N32   N33            2.692306    2.899602    2.741082      GH
7    N31   N32            1.538461    1.750329    1.433289      HI
8    N30   N31            0.769230    0.726552    0.726552      IJ
9    N20   N30            0.769230    0.726552    0.726552      JK
10   N10   N20            1.538461    1.155879    1.472919      KL
11   N00   N10            2.692306    2.741082    2.899602      AL

In [39]:
list = df['voltage difference']
list

0     2.692306
1     1.538461
2     0.769230
3     0.769230
4     1.538461
5     2.692306
6     2.692306
7     1.538461
8     0.769230
9     0.769230
10    1.538461
11    2.692306
Name: voltage difference, dtype: float64

In [40]:
def list_stuff(list):
    new_list = []
    for i in range(len(list)):
        if i % 3 == 2:
            continue
        new_list.append(list[i+1] - list[i])
    print(*new_list, sep='\n')
    print()
    return new_list

In [41]:
def list_second(list):
    new_list = []
    for i in range(len(list)):
        if i % 2 == 1:
            continue
        new_list.append(list[i+1] - list[i])
    print(*new_list, sep='\n')
    print()

In [104]:
COR = df['voltage difference'].tolist()
V11 = df['broken V11'].tolist()
H11 = df['broken H11'].tolist()
COR

[2.69230624260433,
 1.5384607100596162,
 0.7692303550298085,
 0.7692303550298085,
 1.5384607100596188,
 2.692306242604333,
 2.692306242604333,
 1.5384607100596188,
 0.7692303550298085,
 0.7692303550298085,
 1.5384607100596162,
 2.69230624260433]

In [105]:
import math

x = 4.65678

math.ceil(x * 100) / 100

4.66

In [106]:

def formating(list):
    new_list = []
    for l in list:
        print(l)
        # l = int(l * 100) / 100
        l = math.ceil(l * 100) / 100
        new_list.append(l)
    print(new_list)
    return new_list

In [107]:
COR = formating(COR)
V11 = formating(V11)
H11 = formating(H11)

[2.7, 1.54, 0.77, 0.77, 1.54, 2.7, 2.7, 1.54, 0.77, 0.77, 1.54, 2.7]
[2.9, 1.48, 0.73, 0.73, 1.44, 2.75, 2.9, 1.76, 0.73, 0.73, 1.16, 2.75]
[2.75, 1.16, 0.73, 0.73, 1.76, 2.9, 2.75, 1.44, 0.73, 0.73, 1.48, 2.9]

In [108]:
COR = list_stuff(COR)
V11 = list_stuff(V11)
H11 = list_stuff(H11)

-1.1600000000000001
-0.77
0.77
1.1600000000000001
-1.1600000000000001
-0.77
0.77
1.1600000000000001

-1.42
-0.75
0.71
1.31
-1.14
-1.03
0.42999999999999994
1.59

-1.59
-0.42999999999999994
1.03
1.14
-1.31
-0.71
0.75
1.42

In [109]:
COR = formating(COR)
V11 = formating(V11)
H11 = formating(H11)

[-1.16, -0.77, 0.77, 1.17, -1.16, -0.77, 0.77, 1.17]
[-1.42, -0.75, 0.71, 1.31, -1.13, -1.03, 0.43, 1.59]
[-1.59, -0.42, 1.03, 1.14, -1.31, -0.71, 0.75, 1.42]

In [110]:
COR = list_second(COR)
V11 = list_second(V11)
H11 = list_second(H11)

0.3899999999999999
0.3999999999999999
0.3899999999999999
0.3999999999999999

0.6699999999999999
0.6000000000000001
0.09999999999999987
1.1600000000000001

1.1700000000000002
0.10999999999999988
0.6000000000000001
0.6699999999999999

In [111]:
COR = formating(COR)
V11 = formating(V11)
H11 = formating(H11)

TypeError: 'NoneType' object is not iterable

AB  BC  CD  DE  EF  FG  GH  HI  IJ  JK  KL  LA
  B1  C2      E2  F4      H4  I3      K3  L1
    H11         V12         H21         V11